html, body {
    width: 50%;
    margin: 0 auto;
}

.container {
    width: 360px;
}

#inputField {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    outline: none;
    font-size: 15px;
}

.todo-list {
    margin-top:25px;
}