<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style> 
    html, body {
        width: 50%;
        margin: 0 auto;
    }
    
    .container {
        width: 360px;
    }
    
    #inputField {
        width: 200px;
        height: 30px;
        border: 1px solid black;
        outline: none;
        font-size: 15px;
    }
    
    .todo-list {
        margin-top:25px;
    }

    h1 {
        position: relative;
        left: middle;
        top: 100px;
    }
    a 
    {
        text-decoration-line: none;
        color: blue;
    }
    </style>
    <title>To Do List</title>
</head>
<body>
    <h2>To Do List</h2>
        <div class="container">
            <input id="inputField" type="text">   
            <input type="submit" id = "ToDoEvent"></button> 
            <div class="todo-list" id="toDoList"> </div>  
            <% data.forEach(function(item, index) { %>
                <li>  <%= item.contents %>  <a href="/remove/<%= item.contents %>"> 삭제 </a></li>
                    
            <% }); %>
        </div>
        <a href="/"><h1>home</h1></a>
        <script>
            let inputBox = document.getElementById('inputField');  
            let ToDoEvent = document.getElementById('ToDoEvent');      
            let toDoList = document.getElementById('toDoList');   

            ToDoEvent.addEventListener('click', function(){    //
                var list = document.createElement('li');     
                if (!inputBox.value)            
                    alert('내용을 입력하세요.');
                else
                {
                    list.innerText = inputBox.value;  
                    toDoList.appendChild(list);       
                    inputBox.value= "";              
                }

            list.addEventListener('click', function(){      
                list.style.textDecoration = "line-through";
            })
            list.addEventListener('dblclick', function(){  
                toDoList.removeChild(list);
            })
            })
     </script>  
</body>
</html>