<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>memo 수정</title>
</head>
<body>
	<h1>memo 수정</h1>
	<hr/>
	<form method="post">
		<legend>memo 수정</legend>
		<table>
			<tr>
				<td><labe>index</labe></td>
				<td><input type="text" name="id" value= "<%= data.id %>" disabled/></td>
			</tr>		
			<tr>
				<td><labe>제목</labe></td>
				<td><input type="text" name="name" value= "<%= data.name %>"/></td>
			</tr>
			<tr>
				<td><labe>내용 </labe></td>
				<td><textarea name="modelnumber" rows="5" cols="33"> <%= data.modelnumber %> </textarea></td>
			</tr>
		</table>
		<input type="submit"/>
	</form>
	
</body>
</html>