<!DOCTYPE HTML>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <title>메모장</title>
</head>
<body>
<h1>메모장</h1>
    <a href="/insert"><h1>INSERT DATA</h1></a><br>
    <table width="100%" border="1">
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>CONTENTS </th>
        <!--    <th>Seires</th> -->
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        <% data.forEach(function(item, index) { %>
        <tr>
            <td><%= item.id %> </td>
            <td><%= item.title %> </td>
            <td><%= item.contents %> </td>
          <!--  <td><%= item.series %> </td> -->
            <td><a href="/edit/<%= item.id %>">EDIT</a></td>
            <td><a href="/delete/<%= item.id %>">DELETE</a></td>
        </tr>
        <% }); %>
    </table>
    <a href="/"><h1>Home</h1></a>
</body>
</html>

<!--
    <h1>메모</h1>
    <form action="item/memo.html" th:action method="post">
        <h3 for="title">제목</h3>
        <input type="text" id="title" name="title" placeholder="제목">
        <br>

        <h3 for="content">내용</h3>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="내용"></textarea>
        <br>

        <button type="submit">등록</button>
        <button type="button">취소</button>
    </form>
-->